.comment-form-input {
    width: 100% !important;
}

#submit-button {
    clear: both;
    display: inherit;
    position: relative;
    top: 10px;
}

.comment {
    padding-bottom: 5%;
}

.comment-name {
    font-weight: bold;
}

.comment-email, .comment-date {
    margin: 0;
    display: inline-block;
    color: gray;
}

.comment-date {
    float: right;
}

.comment-message {
    word-wrap: break-word;
    margin-bottom:0;
}

#comment-selection {
    position: relative;
    left: 60%;
}

#max-comments-container, #sort-type-container {
    float: none;
    width: 20%;
    display: inline-block;
}

.delete-comment {
    float: right;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Like button adapted from https://codepen.io/kieranfivestars/pen/PwzjgN */
.smile-container {
    float:right;
    padding-right: 10px;
}

.smile {
    font-size: 25px !important;
}

.plus-one {
    font-size: 22px !important;
}

.smile, .plus-one {
    cursor:pointer;
    color:#aaa;
    transition:.2s;
}

.smile:hover, .plus-one:hover {
  color:#666;
}

.smile.press, .plus-one.press {
  animation: size .4s;
}

.smile.press {
    color: pink;
}

.plus-one.press {
    color: green;
}

@keyframes fade {
  0% {color:#transparent;}
  50% {color:#e23b3b;}
  100% {color:#transparent;}
}

/* *********** */

.smile-button, .plus-one-button {
  padding:0;
  background:none;
  border:none;
}

.smile-button:focus, .plus-one-button:focus {
    background-color:transparent;
}

.num-likes {
  display:none;
  text-align:center;
}

.smile-button:hover + .num-likes {
    display: block;
}

.plus-one-button:hover + .num-likes {
    display: inline-block;
    position: absolute;
    left: 81%;
    border: 1px solid black;
    border-radius: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

