#map {
    height: 70%;
    width:100%;
    top: 200px;
    position: absolute !important;
    margin-top: 2%;
}

#map-description {
    margin-left: 5%;
}

.marker-form-label {
    font-weight: bold;
    font-family: 'Bellota Text', cursive !important;
}

.marker-textbox {
    resize: none;
    height: 5em !important;
    border: 1px solid black;
}

.marker-textbox:focus {
    outline: none;
}

.marker-submit {
    margin-top: 5%;
    height: 30px !important;
    line-height: 30px !important;
}
