@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

html, body {
    height: 100%;
    font-family: 'Bellota Text', cursive;
}

#nav-icon {
    margin: 30%;
}

/* .header {
    font-family: 'Bellota Text', cursive;
} */

#sidenav-link {
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}

#about-images {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#about-images img {
    width: 20%;
    margin: 2%;
}

#bitmoji {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 10%;
}

.social-icon {
    width: 10%;
}

.sidenav .user-view .email {
    padding-bottom: 0 !important;
}

.column {
    width: 50% !important;
    float:left;
}

.project {
    display: none;
    margin: 0.5rem 0 1rem 0;
}

.active-proj {
    display: block;
}

.project img {
    /* padding: 3%; */
    width: 38% !important;
}


.project-description {
    display: inline-block;
    padding: 3%;
}

.collection a.collection-item {
    padding: 3% !important;
    font-size: 2vh;
}