@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

html, body {
    height: 100%;
    font-family: 'Bellota Text', cursive;
}

#nav-icon {
    margin: 30%;
}


#sidenav-link {
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}

#about-images {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#about-images img {
    width: 20%;
    margin: 2%;
}

#bitmoji {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 10%;
}

.social-icon {
    width: 10%;
}

.sidenav .user-view .email {
    padding-bottom: 0 !important;
}

.column {
    width: 50% !important;
    float:left;
}

.project {
    display: none;
    margin: 0.5rem 0 1rem 0;
}

.active-proj {
    display: block;
}

.project img {
    /* padding: 3%; */
    width: 38% !important;
}


.project-description {
    display: inline-block;
    padding: 3%;
}

.collection a.collection-item {
    padding: 3% !important;
    font-size: 2vh;
}

.work-icon {
    margin-left: 2%;
}
.proficient .chip {
    font-size: 20px !important;
}

.proficient {
    margin-bottom: 1%;
}

.chip {
    margin-right: 10px !important;
}

.comment-form-input {
    width: 100% !important;
}

#submit-button {
    clear: both;
    display: inherit;
    position: relative;
    top: 10px;
}

.comment {
    padding-bottom: 5%;
}

.comment-name {
    font-weight: bold;
}

.comment-email, .comment-date {
    margin: 0;
    display: inline-block;
    color: gray;
}

.comment-date {
    float: right;
}

.comment-message {
    word-wrap: break-word;
    margin-bottom:0;
}

#comment-selection {
    position: relative;
    left: 60%;
}

#max-comments-container, #sort-type-container {
    float: none;
    width: 20%;
    display: inline-block;
}

.black-icon {
    color: black;
}

.delete-comment {
    float: right;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Like button adapted from https://codepen.io/kieranfivestars/pen/PwzjgN */
.smile-container {
    float:right;
    padding-right: 10px;
}

.smile {
    font-size: 25px !important;
}

.plus-one {
    font-size: 22px !important;
}

.smile, .plus-one {
    cursor:pointer;
    color:#aaa;
    transition:.2s;
}

.smile:hover, .plus-one:hover {
  color:#666;
}

.smile.press, .plus-one.press {
  animation: size .4s;
}

.smile.press {
    color: pink;
}

.plus-one.press {
    color: green;
}

@keyframes fade {
  0% {color:#transparent;}
  50% {color:#e23b3b;}
  100% {color:#transparent;}
}

/* *********** */

.smile-button, .plus-one-button {
  padding:0;
  background:none;
  border:none;
}

.smile-button:focus, .plus-one-button:focus {
    background-color:transparent;
}

.num-likes {
  display:none;
  text-align:center;
}

.smile-button:hover + .num-likes {
    display: block;
}

.plus-one-button:hover + .num-likes {
    display: inline-block;
    position: absolute;
    left: 81%;
    border: 1px solid black;
    border-radius: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

#song-rec-content {
    background: linear-gradient(295deg, rgba(223,167,5,1) 0%, rgba(250,204,34,1) 35%);
    height: 600px;
}

#song-rec-info {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 20%;
    left: 15%;
    width: 40%;
}

#song-rec-info p {
    padding: 5%;
}

#song-rec-form {
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.song-rec {
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid lightgray;
}

.song-rec p {
    display: inline-block;
    margin: 0;
    width: 95%;
}

.plus-one-container {
    float: right;
}

#load-more-button {
    display: none;
    width: fit-content;
    margin-top: 2%;
}

iframe {
    position: absolute;
    top: 15%;
    right: 20%;
}

.white-icon {
    color:white;
}

#comment-form {
    display: none;
}

#logout-button {
    float: right;
    margin-top: 1%;
}

#login-message {
    text-align: center;
    margin-bottom: 5%;
}

.translate-comment {
    border: none;
    background-color: transparent;
    padding: 0;
    color: #2F4EFC;
    font-size: 15px;
    font-weight: 200;
    margin-top: 1%;
    cursor: pointer;
}

.translate-comment:focus {
    background-color: transparent;
    outline:none;
}

#map {
    height: 700px;
    width:100%;
    top: 200px;
    position: absolute !important;
}

#map-description {
    margin-left: 5%;
}
