@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

html, body {
    height: 100%;
    font-family: 'Bellota Text', cursive;
}

#nav-icon {
    margin: 30%;
}

#sidenav-link {
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}

.social-icon {
    width: 10%;
}

.sidenav .user-view .email {
    padding-bottom: 0 !important;
}

.column {
    width: 50% !important;
    float:left;
}


.black-icon {
    color: black;
}


.white-icon {
    color:white;
}

#map {
    height: 600px;
    width:100%;
    top: 200px;
    position: absolute !important;
}

#map-description {
    margin-left: 5%;
}

.marker-form-label {
    font-weight: bold;
    font-family: 'Bellota Text', cursive !important;
}

.marker-textbox {
    resize: none;
    height: 5em !important;
    border: 1px solid black;
}

.marker-textbox:focus {
    outline: none;
}

.marker-submit {
    margin-top: 5%;
    height: 30px !important;
    line-height: 30px !important;
}
