@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

html, body {
    height: 100%;
}

body {
    background-image: url("/images/ocean-2.jpg");

    background-repeat: no-repeat;
    background-size:50% 100%;
    background-position: right top;
    margin: 0;
    font-family: 'Bellota Text', cursive;
}

#left {
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    width: 50%;  
}

.backdrop {
    padding: 50px;
    height: 100%;
    box-sizing: border-box;
}

#info {
    height: 100%;
    background-color: rgba(0,0,0,0.05);
}

#heading {
    text-align: left;
    color: #5D5D5D;
    font-family: 'Bellota Text', cursive;
}

#name {
    margin: 0;
    font-size: 75px;
    line-height: 70px;
}

#title {
    margin: 0;
    font-size: 25px;
    margin-bottom: 5px;
}

.social-icon {
    width: 25px;
    padding-right: 5px;
}

#bitmoji {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 10%;
}

#about-me {
    color: #5D5D5D;
}

#heading, #about-me {
    padding: 15px;
}

#right {
    position:absolute;
    top: 0;
    left: 50%;
    height: 100%;
}

#collage {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

#collage img {
    width: 17%;
    padding-left: 5%;
    padding-right: 5%;
}


.right-align {
    text-align: right;
}

#projects {
    text-align: center;
}

.project {
    border: 2px solid #5D5D5D;
    border-radius: 30px;
    padding: 2%;
    font-size: 40px;
    margin: 8%;
}

a {
    text-decoration: none;
}