@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

html, body {
    height: 100%;
}

body {
    background-image: url("/images/flower-2.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}