@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

html, body {
    height: 100%;
}

body {
    background-image: url("/images/flower-2.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#heading {
    text-align: left;
    color: white;
    font-family: 'Slabo 27px', serif;
}

#name {
    margin: 0;
    margin-top: 15px;
    font-size: 75px;
    line-height: 70px;
}

#title {
    margin: 0;
    font-size: 25px;
    margin-bottom: 5px;
}

.social-icon {
    width: 25px;
    padding-right: 5px;
}

#bitmoji {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 10%;
}